.base-lazy-img(
  v-if='loaded'
  role='img'
  :aria-label='alt'
  :style="{ backgroundImage: currentImg ? 'url(' + currentImg + ')' : '', flexShrink: '0', position: imageType }"
  v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }")
  transition
    .base-lazy-img__overlay(:style="{ backgroundColor: bgColor }" v-if='loading')
      svg.base-lazy-img__spinner(width='30px' height='30px' viewBox='0 0 66 66')
        circle.base-lazy-img__ring(cx='33' cy='33' r='30')
  img.base-lazy-img__image.sr-only(
    :src='currentImg'
    :alt='alt')
