// -----------------------
// color defaults
// -----------------------
$black: #000
$gray: #ccc
$white: #fff
$success: #2fd64c
$danger: #ff0033

// -----------------------
// project colors
// -----------------------

$c1: #005185
$c2: #107da8
$c3: #51ade0
$c4: #94aacd
$c5: #fb651a
$c6: #1e1e1e
$c7: #fafafa
$c8: #f0f3f8
$c9: #ffa600

// -----------------------
// box shadows
// -----------------------

$bs1: 0 3px 10px -1px rgba($black, .1), 0 11px 16px -10px rgba($c6, .18), 0 8px 30px -10px rgba($c6, .1)
$bs2: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3)
$bs3: 0 3px 5px 0 rgba($black, 0.06), 0 10px 10px -5px rgba($c6, .1), 0 10px 32px -8px rgba($black, .2)
$bs4: 0 2px 2px rgba($black, .05), 0 8px 8px -2px rgba($black, .11), 0 16px 20px -10px rgba($black, .053), 0 20px 34px -24px rgba($black, .1)

// -----------------------
// overlays
// -----------------------

$ol1: rgba(#041e2e, 0.77)
$ol2: rgba(#1e1e1e, .41)
