// -----------------------
// color defaults
// -----------------------
$black: #000
$gray: #ccc
$white: #fff
$success: #2fd64c
$danger: #ff0033

// -----------------------
// project colors
// -----------------------

$c1: #005185
$c2: #107da8
$c3: #51ade0
$c4: #94aacd
$c5: #fb651a
$c6: #1e1e1e
$c7: #fafafa

// -----------------------
// box shadows
// -----------------------

$bs1: 0 3px 10px -1px rgba($black, .1), 0 11px 16px -10px rgba($c3, .18), 0 8px 30px -10px rgba($c3, .1)

// -----------------------
// overlays
// -----------------------

$ol1: rgba($black, 0.41)
