// --------------------------------------------------------
// container
// --------------------------------------------------------

$columns: 12
$gutter: 24px
$outside-gutter: 64px

$width: 1154px
$max-width: 1440px

$width-large: 1440px
$max-width-large: 1600px

// --------------------------------------------------------
// screen sizes
// --------------------------------------------------------

$screen-desktop: $max-width-large
$screen-laptop-lg: 1440px
$screen-laptop: 1280px
$screen-laptop-sm: 1100px
$screen-tablet-lg: 1024px
$screen-tablet-md: 881px
$screen-tablet: 768px
$screen-nexus: 600px
$screen-phone-lg: 480px
$screen-phone: 370px
