*
  box-sizing: border-box

body
  @include desktop
    font-size: rem-calc(18)
  @include tablet-lg
    line-height: 1.4
  @include phone
    font-size: 14px
  text-rendering: optimizeLegibility
  line-height: 1.6
  letter-spacing: .467px
  color: $c6
  font-family: $font-body
  font-size: rem-calc(16)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1
  @include desktop
    font-size: rem-calc(32)
  @include tablet-md
    font-size: rem-calc(28)
  text-transform: uppercase
  line-height: 1.25
  letter-spacing: 3px
  font-family: $font
  font-size: rem-calc(30)
  font-weight: 600

h2
  line-height: 1.25
  font-family: $font
  font-size: rem-calc(24)
  font-weight: 600

h3
  @extend h2
  font-weight: 400

h4
  line-height: 2.3
  letter-spacing: 1px
  font-family: $font
  font-size: rem-calc(18)
  font-weight: 700

h5
  text-transform: uppercase
  line-height: 1.15
  letter-spacing: 1.5px
  font-family: $font
  font-size: rem-calc(15)
  font-weight: 600

a
  text-decoration: none
  color: $black

p, li, h2, h3, h4, h5
  margin: 0

input[type=text], input[type=textarea]
  appearance: none
  -webkit-appearance: none

.hero-text
  @include phone
    font-size: 30px
  line-height: 1.25
  font-family: $font
  font-size: calc(24px + 3.25vw)
  // font-size: 70px
  font-weight: bold

  &--alt
    @extend .hero-text
    font-weight: 500
