.button
  @include tablet-lg
    font-size: 14px 
  transition: background .2s ease
  border-radius: 4px
  background: $c1
  cursor: pointer
  padding: rem-calc(14) 1.2rem
  text-transform: uppercase
  line-height: 1
  letter-spacing: .67px
  color: $white
  font-size: rem-calc(15)

  &:hover
    background: $c2
