.menu
  position: absolute
  top: 0
  left: 0
  transform: translateX(-100%)
  transition: transform .3s ease
  z-index: 5
  background: $white
  width: 40%
  height: 100%

  &--active
    transform: none
    transition: transform .5s cubic-bezier(.39, .575, .28, .995)

  &__list
    @include laptop-sm
      left: 2rem
      transform: translate(0, -50%)
    @include ipad-pro
      top: 8rem
      transform: translate(0, 0)
    position: absolute
    top: 50%
    left: 35%
    transform: translate(-50%, -50%)
    transition: opacity .1s ease
    opacity: 0
    margin: 0
    padding: 0

    .menu--active &
      transition: opacity .3s ease-in .25s
      opacity: 1

  &__item
    margin: 1rem 0
    cursor: pointer
    padding: 0
    list-style: none
    text-transform: uppercase
    color: $c1
    font-size: 28px

    &:hover
      color: $c2
