.custom-home-why
  @include desktop
    padding: 0
    height: auto
  @include ipad-pro
    display: flex
    padding: none
  @include tablet-md
    background: rgba($c4, .2)
    padding: 2rem 0
  padding-top: 134px
  height: 100%

  &__bg
    @extend .image--bg
    @include tablet-md
      opacity: 0
    background-position: right top

  &__container
    @extend .container
    @include ipad-pro
      margin-top: auto
      background: rgba($c7, .8)
      // height: 60%

  &__title
    @extend h1
    @include ipad-pro
      margin-bottom: 1rem
      padding: 2rem 0
      width: 100%
    @include tablet-md
      width: 100%
    transition: opacity .3s ease-in
    opacity: 0
    margin-bottom: 3rem
    width: 60%
    color: $c1

    .fp-completely &,
    .is-mobile &
      opacity: 1

  &__item-container
    @extend .col-6
    @include ipad-pro
      padding-bottom: 4rem
      width: 100%
      // height: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__item
    transition: opacity .4s ease-in
    opacity: 0
    margin-bottom: 2rem
    width: 48.5%

    .fp-completely &,
    .is-mobile &
      opacity: 1

  &__heading
    margin-bottom: .5rem
    color: $c5
    font-weight: bold

  &__icon
    margin-bottom: .75rem
    width: 3rem
    height: 3rem

  &__down
    @include tablet-md
      display: none
    position: absolute
    bottom: 2rem
    left: 50%
    transform: translateX(-50%)
    z-index: 11

  &__arrow
    width: 2rem
    height: 1rem
    fill: $c6
