.custom-home-why
  @include desktop
    padding: 0
    height: auto
  padding-top: 134px
  height: 100%

  &__bg
    @extend .image--bg
    background-position: right top

  &__container
    @extend .container

  &__title
    @extend h1
    transition: opacity .3s ease-in
    opacity: 0
    margin-bottom: 3rem
    width: 60%
    color: $c1

    .fp-completely &
      opacity: 1

  &__item-container
    @extend .col-6
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__item
    transition: opacity .4s ease-in
    opacity: 0
    margin-bottom: 2rem
    width: 48.5%

    .fp-completely &
      opacity: 1

  &__heading
    margin-bottom: .5rem
    color: $c5
    font-weight: bold

  &__icon
    margin-bottom: .75rem
    width: 3rem
    height: 3rem
