.pages-home
  transition: transform .3s ease
  overflow: hidden

  &--drawer
    @include tablet-md
      transform: none
    transform: translateX(35%)
    transition: transform .5s cubic-bezier(.39, .575, .28, .995)
