.pages-home
  transition: transform .3s ease
  overflow: hidden

  &--drawer
    @include tablet-lg
      transform: translateX(20%)
    @include tablet-md
      transform: none
    transform: translateX(15%)
    transition: transform .5s cubic-bezier(.39, .575, .28, .995)
