.hero-home
  @include tablet-md
    height: 60vh
  @include phone-lg
    height: 45vh
  position: relative
  height: 100%
  overflow: hidden

  @media screen and (max-height: 601px)
    height: calc(100vw * .5625) !important

  &__video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: auto
    overflow: hidden

    @supports (object-fit: cover)
      height: 100%
      object-fit: cover

  &__overlay
    @extend .image--bg
    z-index: 2
    background: rgba($c6, .2)

  &__logo
    @include nexus
      display: none
    position: absolute
    top: 1rem
    left: 50%
    transform: translateX(-50%)
    transition: opacity .6s ease-in .3s
    opacity: 0
    z-index: 3
    width: calc(100vw * .263)
    max-width: 442.1px
    height: calc(100vw * .065)
    max-height: 109.36px

    .fp-completely &
      opacity: 1

    &--drawer
      .fp-completely &
        transition: opacity .2s ease
        opacity: 0

  &__content
    position: absolute
    top: 80%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2
    width: 100%

  &__container
    @extend .container

  &__row
    @extend .col-10
    @extend .col-1--offset

  &__title
    width: 100%
    color: $white

    &--upper
      @include nexus
        text-align: center
      @extend .hero-text--alt
      transform: translateX(-2.5rem)
      transition: transform .8s cubic-bezier(.39, .575, .28, .995) .1s, opacity .8s ease-in .1s
      opacity: 0

      .fp-completely &
        transform: none
        opacity: 1

    &--lower
      @include nexus
        text-align: center
      @extend .hero-text
      transform: translateX(2.5rem)
      transition: transform .8s cubic-bezier(.39, .575, .28, .995) .1s, opacity .8s ease-in .1s
      opacity: 0
      text-align: right

      .fp-completely &
        transform: none
        opacity: 1

  &__down
    @include nexus
      display: none
    position: absolute
    bottom: 1rem
    left: 50%
    transform: translate(-50%, 0)
    animation: bounce 1.75s ease infinite
    z-index: 2
    cursor: pointer

    &:hover
      animation-play-state: paused

  &__arrow
    width: 1.75rem
    height: 1rem
    fill: $white
