.custom-home-team
  @include ipad-pro
    height: 800px
  @include tablet-md
    // position: relative
    padding: 3rem 0
    height: 800px
  height: 100%
  overflow: hidden

  @media screen and (max-height: 600px)
    height: 800px

  &__title
    @extend h1
    position: absolute
    top: 3rem
    left: 50%
    transform: translate(-50%, -50%)
    color: $c1

  &__container
    @extend .container--large
    @include desktop
      align-items: center
    @include ipad-pro
      align-items: flex-start
    @include tablet-md
      align-items: flex-start
      padding: 3rem 0 0
    align-items: center
    justify-content: center
    width: 100%
    height: 100%

  &__person
    @extend .image--bg
    @include desktop
      margin: 0 -3rem
      width: calc(1920px / 7)
      height: calc((1920px / 7) * 2.69)
    @include laptop
      width: calc(100vw / 5.5)
      height: calc((100vw / 5.5) * 2.69)
    @include tablet-md
      margin: 0 -2rem
    //   width: calc(100vw / 7)
    //   height: calc((100vw/7)*2.69)
    @include nexus
      margin: 0 -1.2rem
      width: calc(100vw / 4.5)
      height: calc((100vw / 4.5) * 2.69)
    display: inline-block
    transform: scale(1.1)
    transition: filter .2s ease
    margin: 0 -2.25rem
    background-repeat: no-repeat
    background-position: center top
    background-size: cover
    cursor: pointer
    width: calc(1600px / 7)
    height: calc((1600px / 7) * 2.69)
    filter: grayscale(.85)

    &:nth-child(4)
      @include desktop
        transform: translateY(2rem) scale(1.1)
        max-height: 100%
      @include laptop
        height: calc((100vw / 5.5) * 2.69)
        max-height: 100%
      @include ipad-pro
        transform: translateY(-2rem)
        height: calc((100vw / 6) * 2.69)
      @include tablet-md
        transform: none
        width: calc(100vw / 4.5)
      @include nexus
        width: calc(100vw / 3.5)
        height: 220px
      width: calc(1600px / 6.6)
      max-height: 580px

    &:hover,
    &--active
      filter: none

    // @media screen and (max-height: 750px)
    //   height: 70vh

  &__content-container
    @include ipad-pro
      height: 50% !important
    @include tablet-md
      height: 500px !important
      overflow: scroll
    @include tablet-md
      transform: none 
    @include nexus
      padding: 2rem 0
      overflow: hidden
    position: absolute
    bottom: 0
    left: 0
    transform: translateY(100%)
    transition: transform .3s cubic-bezier(.39, .575, .28, .995)
    z-index: 10
    box-shadow: 0 -13px 27px -5px rgba(50, 50, 93, .09), 0 -8px 16px -8px rgba(0, 0, 0, .15)
    background: $c8
    width: 100%

    .fp-completely &,
    .is-mobile &
      transform: none

  &__content
    @extend .container
    @include nexus
      padding: 0 1rem
      overflow: scroll
    position: relative
    height: 100%

  &__bio
    @include laptop
      font-size: 15px
    @include nexus
      top: 0
      padding: 0 1rem
    position: absolute
    top: 2rem
    left: 0
    opacity: 0
    padding: 0 2rem
    width: 100%
    height: 100%

    &--active
      opacity: 1

  &__name
    @extend h1
    margin-bottom: .5rem
    color: $c1

  &__row
    @include tablet-md
      margin-bottom: 0
    // @include nexus
      // padding-bottom: 2rem
      // overflow: hidden
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 1rem

    p
      @include tablet-md
        margin: .5rem 0
        width: 100%
      width: 48.5%

  &__down
    @include tablet-md
      display: none
    position: absolute
    bottom: 1rem
    left: 50%
    transform: translateX(-50%)
    z-index: 11

  &__arrow
    width: 2rem
    height: 1rem
    fill: $c6
