footer.footer(v-if='props')
  .footer__container
    .footer__left
      .footer__item
        p.footer__advantage Online Advantage by #[a.footer__roostergrin(href='https://roostergrin.com' target='_blank' rel='noreferrer noopener') RoosterGrin Media]
      .footer__item
        a.footer__accessibility #[a.footer__container-userway-trigger, tabindex="0" Click for Accessibility]
      .footer__item
        a.footer__social-link(v-for='(link, i) in props.social', :key='`footer-link-${i}`', :href='link.link' target='_blank' rel='noreferrer noopener')
          BaseIcon.footer__social-icon(:name='link.icon')
      .footer__item
        a.footer__privacy(:href='props.privacy_policy' target='_blank' rel='noreferrer noopener') Privacy Policy
        router-link.footer__home_care(to='/home-care') Home Care
      
    //- .footer__right
      //- a.footer__address(:href='props.address_link' v-html='props.address')
                
              
