.footer
  background: $c1
  padding: 1rem 0
  color: $white
  font-size: 14px

  &__container
    @extend .container--large
    align-items: center
    justify-content: space-between

  &__left
    @include laptop
      width: 65%
    @include laptop-sm
      width: 100%  
    display: flex
    justify-content: space-between
    width: 50%

  &__item
    display: flex
    align-items: center

    a
      color: $white

  &__social-icon
    transition: background .2s ease, border .2s ease, fill .2s ease
    margin: auto .5rem
    border: 1px solid transparent
    border-radius: 50%
    background: $white
    padding: 7px
    width: 2rem
    height: 2rem
    fill: $c1

    &:hover
      border: 1px solid $white
      background: $c1
      fill: $white

  &__advantage
    font-size: 13px

  &__roostergrin
    transition: opacity .2s ease
    &:hover
      opacity: .8


  &__privacy
    margin-right: 2rem

  &__address
    color: $white
