.navigation-desktop(v-if='props && !$store.state.loading', :class="{ 'navigation-desktop--top': $store.state.currIndex === 0 && $route.path === '/', 'navigation-desktop--white': $store.state.currIndex === 3 || $store.state.currIndex === 4 || $store.state.currIndex === 6 || $store.state.currIndex === 7 || $route.path !== '/', 'navigation-desktop--care': scrolling, 'navigation-desktop--care-menu': scrolling && $store.state.drawer }")
  .navigation-desktop__container
    
    .navigation-desktop__item
      BaseIcon.navigation-desktop__logo(name='logo-icon', @click.native='handleRoute(0)')
      .navigation-desktop__nav-primary  
        .navigation-desktop__hamburger(@click='toggleDrawer', :class="{ 'navigation-desktop__hamburger--active': $store.state.drawer }")
          .navigation-desktop__text
            transition-group(name='fade' tag='div')
              .navigation-desktop__hamburger-menu(v-show='!$store.state.drawer' key='menu') Menu
              .navigation-desktop__hamburger-exit(v-show='$store.state.drawer' key='exit') Exit
          .navigation-desktop__cross
            span
            span
        .navigation-desktop__patient-forms
          .navigation-desktop__forms-btn(@click='handleDropdown') Patient forms
          .navigation-desktop__dropdown(:class="{ 'navigation-desktop__dropdown--active': dropdownActive }")
            .navigation-desktop__form(v-for='(form, i) in props.patient_forms', :key='`form-${i}`', :style="{ transitionDelay: (i * .15) + 's' }")
              a.navigation-desktop__form-link(:href='form.link' v-html='form.label' target='_blank')
        
    .navigation-desktop__item
      .navigation-desktop__nav-secondary
        .navigation-desktop__consult-btn(@click='handleRoute(6)') Request Consultation
        a.navigation-desktop__phone(:href="'tel:1-'+ props.phone" v-html='props.phone')    
