.navigation-desktop
  position: fixed
  top: 0
  left: 0
  transition: padding .2s ease, background .2s ease, box-shadow .2s ease
  animation: fade-in .4s ease-in forwards .6s
  opacity: 0
  z-index: 99
  padding: 2rem 0
  width: 100%

  &--care
    box-shadow: $bs1
    background: $white
    padding: 1rem 0

  &--care-menu
    box-shadow: none 

  &__container
    @extend .container--large
    justify-content: space-between

  &__item
    display: flex
    align-items: flex-start

  &__nav-primary
    @include tablet-lg
      margin-left: .5rem
    display: flex
    align-items: center
    transform: none
    transition: transform .3s cubic-bezier(.215, .61, .355, 1)
    margin-left: 1rem

    .navigation-desktop--top &
      transform: translateX(-66px)

  &__nav-secondary
    text-align: center

  &__logo
    transition: opacity .2s ease-in .15s, fill .2s ease
    opacity: 1
    margin-top: -5px
    width: 50px
    height: 55px
    fill: $c1

    .navigation-desktop--top &
      transition: opacity .2s ease
      opacity: 0

    .navigation-desktop--white &
      fill: $white

    .navigation-desktop--care &
      fill: $c1

  &__hamburger
    @include tablet-lg
      margin-right: 1rem
    display: flex
    position: relative
    align-items: center
    z-index: 9
    margin-right: 2rem
    cursor: pointer
    height: 1rem
    line-height: 1
    font-size: 1rem

    &-menu,
    &-exit
      position: absolute
      top: 0
      left: 0
      width: 100%
      text-align: right

    &:hover
      .navigation-desktop__text
        color: $c2
      .navigation-desktop__cross
        span
          background: $c2

  &__text
    position: relative
    transition: color .2s ease
    width: rem-calc(50)
    height: 100%
    text-transform: uppercase
    line-height: 1
    color: $c1

    .navigation-desktop--top &,
    .navigation-desktop--white &
      color: $white

    .navigation-desktop--care &
      color: $c1

    .navigation-desktop__hamburger--active &
      color: $c1

  &__cross
    position: relative
    margin-left: rem-calc(7)
    width: rem-calc(20)
    height: rem-calc(8)

    span
      display: block
      position: absolute
      transform: translate(-50%, -50%)
      transition: all .3s ease
      background-color: $c1
      width: rem-calc(20)
      height: 2px

      &:first-child
        top: 0
        left: 50%

      &:last-child
        top: 100%
        left: 50%

      .navigation-desktop--top &,
      .navigation-desktop--white &
        background-color: $white

      .navigation-desktop--care &
        background-color: $c1

      .navigation-desktop__hamburger--active &
        background-color: $c1

        &:first-child
          top: 40%
          left: 0
          transform: rotate(-45deg) translateZ(0)

        &:last-child
          top: 40%
          left: 0
          transform: rotate(45deg) translateZ(0)

  &__patient-forms
    position: relative

  &__forms-btn
    @extend .button

  &__dropdown
    position: absolute
    top: calc(100% + 12px)
    left: 0
    opacity: 0

    &--active
      opacity: 1

  &__form
    transform: translateY(-1rem)
    transition: transform .2s ease, opacity .2s ease-in
    opacity: 0
    pointer-events: none

    .navigation-desktop__dropdown--active &
      transform: none
      opacity: 1
      pointer-events: all

  &__form-link
    @extend .button
    display: block
    margin-bottom: 12px
    box-shadow: $bs2
    background: $c4
    // padding: rem-calc(5) 1rem
    line-height: 1

  &__consult-btn
    @extend .button
    margin-bottom: .5rem
    background: $c5

  &__phone
    transition: color .2s ease
    color: $c6
    font-size: rem-calc(18)

    .navigation-desktop--top &,
    .navigation-desktop--white &
      color: $white

    .navigation-desktop--care &
      color: $c6

    &:hover
      color: $c2
