// --------------------------------------------------------
// normalize
// --------------------------------------------------------

@import './sass/base/normalize'

// --------------------------------------------------------
// base
// --------------------------------------------------------

@import './sass/base/units'
@import './sass/base/grid'
@import './sass/base/breakpoints'
@import './sass/base/fonts'
@import './sass/base/colors'
@import './sass/base/typography'

// --------------------------------------------------------
// FullPage
// --------------------------------------------------------

@import './sass/vendors/*.scss'

// --------------------------------------------------------
// utilities
// --------------------------------------------------------

@import './sass/utilities/*.sass'
@import './sass/utilities/**/*.sass'
@import './pages/home/home.sass'

// --------------------------------------------------------
// components
// --------------------------------------------------------

@import './components/**/*.sass'
@import './components/**/**/*.sass'

#accessibilityWidget
  cursor: pointer
  color: #fff

.accesibility
  margin-top: 3px
  display: block

@media only screen and (max-width: 600px)  
  .accesibility
    text-align: center
